header {
    width: 100%;
    font-style: oblique;
    font-weight: bold;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    color: black;
}

div.menu {
    background-color: black;
    width: 90%;
    height: 50px;
    margin-left: 5%;
    margin-right: 0;
    background-color: darkgreen;
    font-style: oblique;
    font-weight: bold;
}

div.menu1 {
    display: inline-block;
    vertical-align: top; 
    margin-right: 0;
    margin-left: 5%;
    width: 30%;
    height: 50px;
    font-size: 35px;
    text-align: center;
    color: floralwhite;
}

div.menu2 {
    display: inline-block;
    vertical-align: top; 
    margin-right: 0;
    margin-left: 0;
    width: 30%;
    height: 50px;
    font-size: 35px;
    text-align: center;
    color: floralwhite;
}

div.menu3 {
    display: inline-block;
    vertical-align: top; 
    margin-right: 0;
    margin-left: 0;
    width: 30%;
    height: 50px;
    font-size: 35px;
    text-align: center;
    color: floralwhite;
}

div.name {
    font-size: 40px;
    margin-left: 5%;
    font-weight: bold;
}

div.big {
    text-align: center;
}

div.intro {
    width:90%;
    margin-left: 5%;
    background-color: aliceblue;
    color: black;
}

footer {
    background-color: black;
    width: 90%;
    height: 50px;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 0;
    color: white;
    font-size: 18px;
}

div.day {
    text-align: right;
}